.input-wrap {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.input-label input:focus {
  border: 1px solid #0069c0;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(0, 129, 255, 0.5);
  transition: 0.3s;
}

.input-error {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
  transition: 0.3s;
  border-radius: 5px;
}

.input-wrap input {
  font-size: 1.4rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #1e1e1e;
  border: 1px solid #616161;
  border-radius: 4px;
}

.password_show {
  position: absolute;
  top: .3rem;
  right: .5rem;
  max-width: 2.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  > img {
    width: 100%;
    &.password_hide {
      max-width: 1.8rem;
      padding-top: .6rem;
      padding-right: .4rem;
    }
  }
}

.login_button {
  width: 100%;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  margin-top: 1rem;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: #1d49aa;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
}