/******************************************
                                       共通で使うmixin、変数ファイル
******************************************/

//フォントカラー設定
$baseFontColor: #333333;

// 背景色の設定
$commonBgColor: #b8e2ff;

// バリデーションメッセージの色を設定
$validationMsgColor: #e80000;

/******************************************

                                       ヘッダー、フッターの高さ設定

******************************************/

$headerHeight: 44px;
$footerHeight: 30px;


/******************************************

                                       テーブルエリア共通の高さ設定

******************************************/

/* 見出しエリア */
$tableHeadingHeight: 60px;

/* 検索エリア **************************************************/

/* 検索エリア */
$tableSearchHeight: 35px;

/* イベント詳細エリア */
$tableEventDetailHeight: 120px;

/* イベント検索エリア（admin） */
// $tableEventSearchAdminHeight: 160px;
$tableEventSearchAdminHeight: 240px;

/* イベント検索エリア（管理者・一般ユーザー） */
$tableEventSearchManagerHeight: 110px;

/* イベント詳細画面の編集エリア */
$tableEventEntryEditManagerHeight: 140px;

/* ユーザー管理画面の編集エリア（管理者） */
$tableUsersEditAdminHeight: 120px;

/* ページャーエリア */
$tablePagerHeight: 25px;

/* ボタンエリア */
$tableBtnHeight: 40px;

$commonFont: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic",
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !important;

$breakpoints: (
  //320px~767px（スマホサイズ）
  "sp": "screen and (max-width: 767px)",
  //画面サイズが991pxまでの場合、styleを適用
  "pc": "screen and (max-width: 991px)",
  //画面サイズが1199pxまでの場合、styleを適用
  "pc_lg": "screen and (max-width: 1199px)"
) !default;

@mixin mq($breakpoint: pc_lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


@mixin flex_box() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex_align_baseline() {
  align-items: baseline;
}

@mixin flex_align_start() {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin flex_align_stretch() {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin flex_align_start() {
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

@mixin flex_align_center() {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex_align_end() {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin flex_space_between() {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

@mixin flex_content_start() {
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-pack: start;
}

@mixin flex_content_center() {
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

@mixin flex_content_end() {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

@mixin flex_content_around() {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

@mixin flex_container_wrap() {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@mixin flex_direction_column() {
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

@mixin three_point_reader_outer() {
  overflow: hidden;
  width: 100%;
}

@mixin three_point_reader_inner() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//複数行の3点リーダー
@mixin three_point_reader_inner_line($num: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

@mixin loading() {
  -webkit-animation: 1.5s linear infinite rotation;
  animation: 1.5s linear infinite rotation;
}
@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}